.container{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 38px 24px;
    border-radius: 18px;
    border: 1px solid rgb(22, 106, 197);

}
.title {
    text-align: center;
}


.todoEditor {
    padding: 30px;
    margin-top: 25px;
    //height: 100px;
    border: 2px solid rgb(22, 106, 197);
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.contentList-box{
    display:flex;
    flex-direction: row;
}

.todoList-input {
    padding: 5px;
    border: 1px solid rgb(22, 106, 197);
    border-radius: 3px;
    background-color: #ffffff;
}

.todoList-btn.button {
    margin-right: 10px;
    height: 30px;
    border: 2px solid rgb(22, 106, 197);
    border-radius: 3px;
    background-color:  rgb(22, 106, 197);
}

.todoList-btn.button:hover{
    background-color:  rgb(22, 106, 197);
}

.todoList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;


}

.todoList-item {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(22, 106, 197);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 700px;
    height: 70px;
}


.todo-text{
    color: rgb(22, 106, 197);
    font-weight: 500;
    text-align: center;
    margin-left: 24px;
    font-size: 20px;
}

.todoList-item-completed .todo-text {
    text-decoration: line-through;
    color: green;

}
.todo-btn.button{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border: 2px solid rgb(22, 106, 197);
    background-color: rgb(22, 106, 197);
}
.todo-btn.button:hover{
    background-color: rgb(22, 106, 197);
}

.todo-btn  {
    width: 100px;
    height: 30px;
    left: 10px;
    border-radius: 2px;
    border: 2px solid rgb(22, 106, 197);
    background-color: rgb(22, 106, 197);
}

.todo-checkbox.check{
    cursor: pointer;
    margin-left: 10px;

}